<ion-view>
    <ion-content padding="'true'" class="has-header">
        <div class="section_title">
            <h2 class="section_title">My Meals</h2>
        </div>     

        <a menu-close="" href="#/places-services?restaurants" class="large_button button button-stable button-block button-large"><p>Restaurants</p></a>
        <a menu-close="" href="#/places-services?deliveries" class="large_button button button-stable button-block button-large"><p>Deliveries</p></a>
        <a menu-close="" href="#/places-services?meals-on-wheels" class="large_button button button-stable button-block button-large"><p>Meals On Wheels</p></a>
        <a menu-close="" href="#/places-services?dinner-clubs" class="large_button button button-stable button-block button-large"><p>Dinner Clubs</p></a>

    </ion-content>
</ion-view>
