<ion-view>
    <ion-content padding="'true'" class="has-header">
        <div class="section_title">
            <h2 class="section_title">My Transport</h2>
        </div>         
        
        <a menu-close="" href="#/places-services?taxis" class="large_button button button-stable button-block button-large"><p>Taxis</p></a>
        <a menu-close="" href="#/places-services?train-stations" class="large_button button button-stable button-block button-large"><p>Train Stations</p></a>
        <a menu-close="" href="#/places-services?bus-stations" class="large_button button button-stable button-block button-large"><p>Bus Stops</p></a>

    </ion-content>
</ion-view>
