<ion-view>
    <ion-scroll padding="'true'" class="has-header" zooming="true" direction="xy" min-zoom="1" scrollbar-x="false" scrollbar-y="false">
        <div class="section_title">
            <h2 class="section_title">Planning My Care</h2>
        </div>
        <div class="row">
            <div class="col">
                <div class="button-bar">
                    <a style=" border-color: {{style}};" menu-close="" href="#/help-at-home" class=" button button-block item-text-wrap"><br><p><i class="icon_custom ion-home "></i><br/>Help at Home</p><br/></a>
                    
                    
                    <a style="border-left:16px solid {{style}}; border-color: {{style}}; height:100%" menu-close="" href="#/my-transport" class=" button button-block item-text-wrap"><br><p><i class="icon_custom ion-model-s "></i><br/>My Transport</p><br/></a>
                </div>
            </div>
        </div>   
        <div class="row">
            <div class="col">
                <div class="button-bar">
                    <a style=" border-color: {{style}};" menu-close="" href="#/my-medication" class=" button button-block item-text-wrap"><br><p><i class="icon_custom ion-medkit "></i><br/>My Medication</p><br/></a>
                    <a style="border-left:16px solid {{style}}; border-color: {{style}}; height:100%" menu-close="" href="#/my-appointments" class=" button button-block item-text-wrap"><br/><p><i class="icon_custom ion-calendar "></i><br/>My Appointments</p><br/></a>        
                </div>
            </div>
          
        </div>   
        <div class="row">
            <div class="col">
                <div class="button-bar">
                    <a style=" border-color: {{style}};" menu-close="" href="#/my-meals" class=" button button-block item-text-wrap"><br/><p><i class="icon_custom ion-fork "></i><br/>My Meals</p><br/></a>
                    <a style="border-left:16px solid {{style}}; border-color: {{style}}; height:100%" menu-close="" href="#/my-care-plan" class=" button button-block item-text-wrap"><br/><p><i class="icon_custom ion-clipboard "></i><br/>My Care Plan</p><br/></a>
                </div>
            </div>
        </div>  
    </ion-scroll>
</ion-view>
